.bolt {
    animation: battery-bolt 2s linear infinite;
}

@keyframes battery-bolt {
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.animated-text {
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(-45deg, #0AEFFF, #39FF14, #BC13FE, #CCCCCC);
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: AnimationText 10s ease infinite;
}

@keyframes AnimationText {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.charge {
    animation: battery-charge 8s linear infinite;
}

@keyframes battery-charge {
    0% {
        height: 0%;
        background: #0AEFFF;
        opacity: 50%;
    }

    25% {
        height: 25%;
        background: #39FF14;
        opacity: 50%;
    }

    50% {
        height: 50%;
        background: #BC13FE;
        opacity: 50%;
    }

    75% {
        height: 75%;
        background: #CCCCCC;
    }

    100% {
        height: 85%;
        background: #0AEFFF;
        opacity: 50%;
    }
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
    width: 8px;

    /* Width of the scrollbar */
    height: 8px;

    /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;

    /* Remove background of the scrollbar track */
    margin: 4px 0;

    /* Margin to add space around the scrollbar track vertically */
}

::-webkit-scrollbar-thumb {
    background: #888;

    /* Color of the scrollbar thumb */
    border-radius: 10px;

    /* Roundness of the scrollbar thumb */
    width: 6px;

    /* Width of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;

    /* Color of the scrollbar thumb when hovered */
}

/* For Firefox */
* {
    scrollbar-width: thin;

    /* Width of the scrollbar */
    scrollbar-color: #888 transparent;

    /* Color of the scrollbar thumb and remove background */
}

/* Add margin to the scrollbar in Firefox */
body {
    scrollbar-gutter: stable both-edges;

    /* Adds space on both edges of the scrollbar */
}

/* Hide scrollbar for the specific container */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;

    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
}

/* Faded transparent effect on the sides */
/* .fade-overlay-container::before,
.fade-overlay-container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;

    ||*| Adjust width as needed |*||
    pointer-events: none;

    /* Allow clicks to pass through */
/* z-index: 1 */
*/
.fade-overlay-container::before {
    /* left: 0 */
    background: linear-gradient(90deg, rgb(17, 24, 39) 0%, rgba(17, 24, 39, 0) 100%);
}

/* .fade-overlay-container::after {
    right: 0;
    background: linear-gradient(270deg, rgb(17, 24, 39) 0%, rgba(17, 24, 39, 0) 100%);
} */
}
