/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* Theme Colors */
:root {
    --button-light: #007bff;

    /* Buttons, links, etc. (Light Blue) */
    --secondary-light: #6c757d;

    /* Secondary elements (Blue-Grey) */
    --highlight-light: #483d8b;

    /* Highlighted elements (Dark Slate Blue) */
    --special-light: #008080;

    /* Special elements (Teal) */
    --bg-light: #f2f2f2;

    /* Background (Light Grey) */
    --text-light: #333;

    /* Text (Dark Text Color) */
    --border-light: rgba(0, 0, 0, 0.1);

    /* Border (Transparent) */
    --button-dark: #3498db;

    /* Buttons, links, etc. (Dark Blue) */
    --secondary-dark: #95a5a6;

    /* Secondary elements (Grey) */
    --highlight-dark: #34495e;

    /* Highlighted elements (Dark Grey) */
    --special-dark: #1abc9c;

    /* Special elements (Turquoise) */
    --bg-dark: #2c3e50;

    /* Background (Dark Blue-Grey) */
    --text-dark: #ecf0f1;

    /* Text (Light Grey) */
    --border-dark: rgba(255, 255, 255, 0.1);

    /* Border (Transparent) */
}

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-image: url('img/_940c159d-799d-4274-9de6-b86278a714c9.jpeg') */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-image: radial-gradient(circle at center, rgb(31, 55, 86) 0%, rgb(20, 21, 57) 100%)
}

header {
    max-width: 1440px;
    width: 100%;
    padding: 1rem;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

main {
    max-width: 1440px;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.event-display,
.customisation-display {
    max-width: 20%;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 19px 50px rgba(0, 0, 0, 0.41);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(21, 23, 59, 0.26);
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 1rem;
}

.clock-calender-display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 60%;
    overflow: hidden;
    height: 100%;
    gap: 1rem;
}

.clock-container,
.calendar-widget {
    width: 100%;
    border-radius: 25px;
    height: 50%;
    padding: 1rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(21, 23, 59, 0.32);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Black Han Sans', sans-serif;
    font-size: clamp(0.5rem, 1.0774rem + 3.7936vw, 2.5rem);
    color: var(--text-dark);
    text-shadow: 0px 1px 25px;
    text-align: center;
}

.calendar {
    display: flex;
    overflow: auto;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    border-bottom-color: #000000;
}

.calendar-widget {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calender-nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 5px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(21, 23, 59, 0.26);
    border-radius: 25px;
}

.calender-nav > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--text-dark);
    letter-spacing: 1px;
}

.navigate {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.navigate > button {
    color: var(--text-dark);
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50pc;
    width: 30px;
    height: 30px;
    border: 1px solid #b99b9b;
    line-height: 30px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s;
}

.navigate > button:hover {
    opacity: 1;
}

.calendar > .month {
    max-width: 100%;
    width: 100%;
    min-width: 300px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.48);
    margin-bottom: 0.5rem;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.month > .days {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-end;
}

.days > span {
    max-width: 14.285714286%;
    width: 100%;
    height: 14.285714286%;
    line-height: 30px;
    font-weight: 500;
    color: var(--text-dark);
    padding: 2px;
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
}

.calendar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.calendar::-webkit-scrollbar-thumb {
    background-color: var(--highlight-light);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.month > h3 {
    font-weight: 700;
    color: var(--text-dark);
    letter-spacing: 1px;
    padding: 5px;
    margin-bottom: 0.5rem;
}

.days > span:nth-of-type(1) {
    background-color: rgba(255, 165, 0, 0.51);
    text-shadow: 0px 1px #FFA500;
    margin-bottom: 0.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.days > span:nth-of-type(2) {
    background-color: rgba(70, 130, 180, 0.51);
    text-shadow: 0px 1px #4682B4 ;
    margin-bottom: 0.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.days > span:nth-of-type(3) {
    background-color: rgba(0, 128, 128, 0.48);
    text-shadow: 0px 1px #008080   ;
    margin-bottom: 0.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.days > span:nth-of-type(4) {
    background-color: rgba(128, 128, 128, 0.49);
    text-shadow: 0px 1px #808080 ;
    margin-bottom: 0.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.days > span:nth-of-type(5) {
    background-color: rgba(128, 0, 128, 0.5);
    text-shadow: 0px 1px #800080 ;
    margin-bottom: 0.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.days > span:nth-of-type(6) {
    background-color: rgba(255, 215, 0, 0.51);
    text-shadow: 0px 1px #FFD700 ;
    margin-bottom: 0.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.days > span:nth-of-type(7) {
    background-color: rgba(65, 105, 225, 0.51);
    text-shadow: 0px 1px #4169E1;
    margin-bottom: 0.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.current-day {
    background-color: blue;
}

/* CSS for Settings Panel */
.customization {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    overflow: hidden;

    h2 {
        color: var(--bg-light);
    }
}

.time-option,
.date-option {
    margin-bottom: 10px;
    width: 100%;

    label {
        display: none;
    }
}

.time-option > select,
.date-option > select {
    padding: 0.5rem;
    display: flex;
    border-radius: 25px;
    width: 100%;
    appearance: none;
    border: 2px solid transparent;
    color: var(--text-dark);
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: all 0.3s, border-color 0.3s, color 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
}

.time-option > select::-ms-expand,
.date-option > select::-ms-expand {
    display: none;
}

.time-option > select:hover,
.date-option > select:hover {
    box-shadow: 0px 19px 50px rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(16px);
    border-color: rgba(72, 61, 139, 0.31);
}

.time-option > select:focus,
.date-option > select:focus {
    background-color: rgba(72, 61, 139, 0.52);
    backdrop-filter: blur(16px);
    border-color: rgba(72, 61, 139, 0.31);
    color: var(--text-dark);
}

#time-format > option,
#date-format > option {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    height: 40px;
    padding: 0.5rem;
}

/* CSS for Option Element */
/* option {
    background-color: var(--bg-light);
    color: var(--text-light);
}
option:hover {
    background-color: var(--highlight-light);
    color: var(--text-dark);
}

option:focus {
    background-color: var(--highlight-light);
    color: var(--text-dark);
} */
/* CSS for Theme Settings Panel */
.theme-settings {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

.theme-settings h2 {
    margin-bottom: 10px;
}

.font-option {
    margin-bottom: 10px;
}

.theme-option label {
    margin-right: 10px;
}

.theme-option select {
    padding: 5px;
}

/* CSS for Color Picker */
.color-settings {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

.color-settings h2 {
    margin-bottom: 10px;
}

.color-option {
    margin-bottom: 10px;
}

.color-option label {
    margin-right: 10px;
}

/* CSS for Background Image Selector */
.background-settings {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

.background-settings h2 {
    margin-bottom: 10px;
}

.background-option {
    margin-bottom: 10px;
}

.background-option label {
    margin-right: 10px;
}
  